## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [1]:
import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df['Name'])

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Series is a one-dimensional labeled array, while a DataFrame is a two-dimensional table.

A DataFrame can be seen as a collection of Series where each column is a Series.

In [3]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4], name='Numbers')

# Creating a DataFrame with a column 'Numbers'
df = pd.DataFrame({'Numbers': [1, 2, 3, 4]})

print(s)
print(df)

0    1
1    2
2    3
3    4
Name: Numbers, dtype: int64
   Numbers
0        1
1        2
2        3
3        4

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [4]:
# head() and tail(): Display the first/last n rows of the DataFrame.
df.head(3)  # Display the first 3 rows

   Numbers
0        1
1        2
2        3

In [5]:
# describe(): Generate descriptive statistics of the DataFrame.
df.describe()

        Numbers
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [6]:
# info(): Display a concise summary of the DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Numbers  4 non-null      int64
dtypes: int64(1)
memory usage: 160.0 bytes

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Panel is deprecated in recent versions of pandas, and its functionality has been removed. 

We should use DataFrame for 2D data and Series for 1D data in current versions of pandas.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
import pandas as pd
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

three Series (Name, Age, and Gender) are created, and then they are combined into a DataFrame named df