Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database : A database is a systematic or organized collection of related information that is stored electronically in a computer system in              such a way that it can be easily accessed, retrieved, managed, and updated. 

SQL Databases :   1.SQL databases define and manipulate data-based structured query language (SQL)
                  2.SQL databases are primarily called Relational Databases (RDBMS)
                  3.SQL databases are table-based
                  4.SQL is a good choice when working with related data
                  5.Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.

NoSQL Databases : 1.Not Only SQL
                  2.NoSQL databases are primarily called non-relational or distributed databases
                  3.NoSQL databases are either key-value pairs, document-based, graph databases, or wide-column stores
                  4.NoSQL is also a wise choice when dealing with large or constantly changing data sets, flexible data models, or                               requirements that donâ€™t fit into a relational model
                  5.Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL : Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands         like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1. CREATE : It is used to create a new database(table).

e.g. 
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

This will create a table with columns College_Id,College_name and Branch.

2. DROP : This command is used to remove an existing table along with its structure from the Database.

e.g. DROP TABLE Student_info;

This will drop the entire Student_info table.

3. ALTER : This command is used to add, delete or change columns in the existing table.

e.g. 
ALTER TABLE Student_info
ADD CGPA number;

This will add CGPA number to the Student_info table.

4. TRUNCATE : This command is used to remove all rows from the table, but the structure of the table still exists.

e.g.
TRUNCATE TABLE Student_info;

This will remove all the data from the Student_info table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML : DML stands for Data Manipulation Language. DML is a way to inform a database precisely what we want it to do by conversing in a manner       that it has been built to comprehend from scratch.

1. INSERT :  This command is used to enter the information or values into a row.

e.g.
INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
VALUES ('1', 'Nirmit', 'Gorakhpur'); 

This will insert these values in the particular columns of the students table.

2. UPDATE : This command is used to alter existing table records. Within a table, it modifies data from one or more records.

e.g.
UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini'; 

It will update the rows of due_fees column where student name is 'Mini' in student table.

3. DELETE : It deletes all archives from a table.

e.g.
DELETE FROM students
WHERE stu_id = '001'; 

It will delete rows in students where student id is '001'.

Q4. What is DQL? Explain SELECT with an example.

DQL : DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema       relation based on the query passed to it.

SELECT: It is used to retrieve data from the database.

e.g. SELECT * FROM table_name;

Q5. Explain Primary Key and Foreign Key.

Primary Key : A column or columns is called PRIMARY KEY that uniquely identifies each row in the table.
              If you want to create a primary key, you should define a PRIMARY KEY constraint when you create or modify a table.
            
Foreign key : A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.               It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

cursor() : The cursor() method is used to create a cursor object that allows you to interact with the database. A cursor is like a pointer              or handle to the result set of a query. 

execute() : The execute() method is used to execute an SQL query on the database using the cursor object.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. JOIN 
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT