Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB : MongoDB is a open-source NoSQL (non-relational) database management system.

Non-relational databases : Non-relational databases (often called NoSQL databases) are different from traditional relational databases in                              that they store their data in a non-tabular form. Instead, non-relational databases might be based on data                                  structures like documents. A document can be highly detailed while containing a range of different types of                                  information in different formats. This ability to digest and organize various types of information side by side                              makes non-relational databases much more flexible than relational databases.

MongoDB is a strong candidate for projects prioritizing flexibility, scalability, and rapid development. Ultimately, the choice should align with your project's unique needs and constraints.

Q2. State and Explain the features of MongoDB.

MongoDB : MongoDB is a tool that can manage document-oriented information, store or retrieve information. It is used for high-volume data             storage, helping organizations store large amounts of data while still performing rapidly.MongoDB is an open source NoSQL database           management program. NoSQL (Not only SQL)

Features :

Scalability :    MongoDB supports vertical and horizontal scaling. Vertical scaling works by adding more power to an existing machine, while                  horizontal scaling works by adding more machines to a user's resources.

Load balancing : MongoDB handles load balancing without the need for a separate, dedicated load balancer, through either vertical or                          horizontal scaling.

Schema-less :    MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.
                 Document. Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data                      more flexible when compared to SQL databases.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.nsqmu6d.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [7]:
db=client['pwskills']

In [8]:
collection_create=db["my_record"]

In [9]:
data={'name':'sudh','class':'Data Science Masters','timing':'Flexi'}

In [10]:
collection_create.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
# One record
data1={'email_id':'sudh@gmail.com','phone_number':'1234567'}

In [12]:
collection_create.insert_one(data1)

In [13]:
# Many record
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [14]:
collection_create.insert_many(data3)

In [20]:
# Find one record
one_record = collection_create.find_one({'email_id':'sudh@gmail.com'})
print(one_record)

{'_id': ObjectId('6502c4cc022a417fd307bb71'), 'email_id': 'sudh@gmail.com', 'phone_number': '1234567'}

In [21]:
# Find many record
all_records = collection_create.find()
print("All Records:")
for record in all_records:
    print(record)

All Records:
{'_id': ObjectId('6502c422022a417fd307bb70'), 'name': 'sudh', 'class': 'Data Science Masters', 'timing': 'Flexi'}
{'_id': ObjectId('6502c4cc022a417fd307bb71'), 'email_id': 'sudh@gmail.com', 'phone_number': '1234567'}
{'_id': ObjectId('6502c5ea1b5d637bed868817'), 'name': 'sudh', 'class': 'Data Science Masters', 'timing': 'Flexi'}
{'_id': ObjectId('6502c5f21b5d637bed868818'), 'email_id': 'sudh@gmail.com', 'phone_number': '1234567'}
{'_id': ObjectId('6502c5fd1b5d637bed868819'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6502c5fd1b5d637bed86881a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6502c5fd1b5d637bed86881b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6502c5fd1b5d637bed86881c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6502c5fd1b5d637bed86881d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6502c5fd1b5d637bed86881e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6502c5fd1b5d637bed86881f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6502c5fd1b5d637bed868820'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6502c5fd1b5d637bed868821'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6502c5fd1b5d637bed868822'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6502c5fd1b5d637bed868823'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6502c5fd1b5d637bed868824'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [23]:
client.close()

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method in MongoDB is used to query a collection and retrieve documents that match specified criteria. It returns a cursor, which you can iterate through to access the matching documents.

In [25]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.nsqmu6d.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [35]:
db=client['pwskills']

In [36]:
collection_create=db["my_record"]

In [37]:
data={'name':'sudh','class':'Data Science Masters','timing':'Flexi'}

In [38]:
collection_create.insert_one(data)

In [39]:
one_record = collection_create.find_one({'class':'Data Science Masters'})
print(one_record)

{'_id': ObjectId('6502c422022a417fd307bb70'), 'name': 'sudh', 'class': 'Data Science Masters', 'timing': 'Flexi'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the results of a query in either ascending (ascending order) or descending (descending order) order based on one or more fields in the documents.

In [43]:
cursor = collection_create.find().sort("address", pymongo.DESCENDING)

In [44]:
print(cursor)

<pymongo.cursor.Cursor object at 0x7f4e8d0e3fd0>

# Example
// Sort all documents in the "users" collection in ascending order by the "name" field.
db.users.sort({ name: 1 });

// Sort all documents in the "users" collection in descending order by the "age" field.
db.users.sort({ age: -1 });

Q.6 Explain why delete_one(), delete_many(), and drop() is used.

delete_one() : deletes the first document that matches the given filter query. If no documents match the query, then no documents are                      deleted.

delete_many() : deletes all documents that match the given filter query.

drop() : drops the entire collection, including all of the documents in the collection.