In [1]:
# Q.11. Add Numbers
def add_numbers(num1, num2):
  
  return num1 + num2

result = add_numbers(5, 6)
print(result)

11

In [2]:
# Q.22. Square Root
import math

number = float(input("Enter a number: "))
square_root = math.sqrt(number)
print(f"The square root of {number} is {square_root:.2f}")

Enter a number:  23

The square root of 23.0 is 4.80

In [3]:
# Q.3. Prime Numbers
def is_prime(num):
 
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

primes = []
for num in range(0, 51):
  if is_prime(num):
    primes.append(num)

print("Prime numbers between 0 and 50:", primes)

Prime numbers between 0 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
# Q.4. Swap Three Variables
a = 5
b = 8
c = 9

a, b, c = c, a, b

print(f"a = {a}, b = {b}, c = {c}")

a = 9, b = 5, c = 8

In [5]:
# Q.5. Number Nature
number = int(input("Enter a number: "))

if number > 0:
  print("Positive")
elif number < 0:
  print("Negative")
else:
  print("Zero")

Enter a number:  34

Positive

In [6]:
# Q.6. Even or Odd
number = int(input("Enter a number: "))

if number % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number:  555

Odd

In [7]:
# Q,7. Sum of Digits
def sum_of_digits(num):
 
  sum = 0
  while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
  return sum

number = 76543
result = sum_of_digits(number)
print(f"Sum of digits of {number} is {result}")

Sum of digits of 76543 is 25

In [8]:
# Q.8. Reverse Number
def reverse_number(num):
  
  reversed_num = 0
  while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
  return reversed_num

number = 5436
reversed_number = reverse_number(number)
print(f"Reversed number of {number} is {reversed_number}")

Reversed number of 5436 is 6345

In [9]:
# Q.9. Armstrong Number
def is_armstrong(num):
  
  original_num = num
  sum = 0
  while num > 0:
    digit = num % 10
    sum += digit**len(str(original_num))
    num //= 10
  return sum == original_num

number = 371
if is_armstrong(number):
  print(f"{number} is an Armstrong number")
else:
  print(f"{number} is not an Armstrong number")

371 is an Armstrong number

In [10]:
# Q.10. Leap Year
def is_leap_year(year):

  if year % 4 == 0:
    if year % 100 == 0 and year % 400 != 0:
      return False 
    return True
  return False

year = 1996
if is_leap_year(year):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

1996 is a leap year

In [11]:
# Q,11. List Manipulation
a = [2, 3, 4, 5, 6, 7]
a.append("mango")
a.extend(["banana", "grapes", "orange"])
a.insert(4, "apple")
a.pop()

'orange'

In [12]:
# Q.12. Slice a List
L = [1, 2, 3, 4, 5, 6, 7]
sliced_list = L[1:4]  
print(sliced_list)

[2, 3, 4]

In [ ]:
# Q.13. Reverse String Order
L = [4, 5, 6, 8, 3]
reversed_list = L[::-1]  
print(reversed_list)

In [13]:
# Q.14. List Comprehension for Squaring
L = [2, 4, 7, 3, 6, 8]
squared_list = [num**2 for num in L] 
print(squared_list)

[4, 16, 49, 9, 36, 64]

In [14]:
# Q.15. Function for Sum of Tuple
def sum_of_tuple(numbers):
  
  return sum(numbers)

my_tuple = (1, 2, 3, 4, 5)
result = sum_of_tuple(my_tuple)
print(f"Sum of {my_tuple} is {result}")

Sum of (1, 2, 3, 4, 5) is 15

In [15]:
# Q.16. Combine Sets
favorite_fruits1 = {"apple", "banana", "orange"}
favorite_fruits2 = {"mango", "grapes", "pineapple"}
combined_fruits = favorite_fruits1.union(favorite_fruits2)
print(combined_fruits)

{'pineapple', 'orange', 'grapes', 'apple', 'mango', 'banana'}

In [16]:
# Q.17. Add to a Set
random_words = {"hello", "world", "python"}
random_words.add("programming")
print(random_words)

{'hello', 'programming', 'python', 'world'}

In [ ]:
# Q.18. Remove from a Set
favorite_animals = {"cat", "dog", "bird"}
favorite_animals.remove("bird") 
print(favorite_animals)

In [17]:
# Q.19. Combine Books and Movies with Zip
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs = zip(favorite_books, favorite_movies)
print(list(book_movie_pairs))

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('1984', 'The Dark Knight')]

In [18]:
# Q.20. Difference of Consecutive Numbers
numbers = [1, 2, 3, 4, 5]
differences = [numbers[i] - numbers[i - 1] for i in range(1, len(numbers))] 
print(differences)

[1, 1, 1, 1]

In [19]:
# Q.21. Access Dictionary Value
fruits = {"apple": 0.75, "banana": 1.25, "orange": 0.90}
banana_price = fruits["banana"]
print(f"Price of banana: ${banana_price:.2f}")

Price of banana: $1.25

In [20]:
# Q.22. Create and Add to a Dictionary
ages = {}
ages["Alice"] = 30
ages["Bob"] = 25
print(ages)

{'Alice': 30, 'Bob': 25}